In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
df = pd.read_csv("groceries - groceries.csv")

In [4]:
df.shape

(9835, 33)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9835 entries, 0 to 9834
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Item(s)  9835 non-null   int64
 1   Item 1   9835 non-null   object
 2   Item 2   7676 non-null   object
 3   Item 3   6033 non-null   object
 4   Item 4   4734 non-null   object
 5   Item 5   3729 non-null   object
 6   Item 6   2874 non-null   object
 7   Item 7   2229 non-null   object
 8   Item 8   1684 non-null   object
 9   Item 9   1246 non-null   object
 10  Item 10  896 non-null    object
 11  Item 11  650 non-null    object
 12  Item 12  468 non-null    object
 13  Item 13  351 non-null    object
 14  Item 14  273 non-null    object
 15  Item 15  196 non-null    object
 16  Item 16  141 non-null    object
 17  Item 17  95 non-null     object
 18  Item 18  66 non-null     object
 19  Item 19  52 non-null     object
 20  Item 20  38 non-null     object
 21  Item 21  29 non-null     object
 22  Item 22  18 non-null     object
 23  Item 23  14 non-null     object
 24  Item 24  8 non-null      object
 25  Item 25  7 non-null      object
 26  Item 26  7 non-null      object
 27  Item 27  6 non-null      object
 28  Item 28  5 non-null      object
 29  Item 29  4 non-null      object
 30  Item 30  1 non-null      object
 31  Item 31  1 non-null      object
 32  Item 32  1 non-null      object
dtypes: int64(1), object(32)
memory usage: 2.5+ MB

In [6]:
df.describe()

           Item(s)
count  9835.000000
mean      4.409456
std       3.589385
min       1.000000
25%       2.000000
50%       3.000000
75%       6.000000
max      32.000000

In [7]:
df.isnull().sum()

Item(s)       0
Item 1        0
Item 2     2159
Item 3     3802
Item 4     5101
Item 5     6106
Item 6     6961
Item 7     7606
Item 8     8151
Item 9     8589
Item 10    8939
Item 11    9185
Item 12    9367
Item 13    9484
Item 14    9562
Item 15    9639
Item 16    9694
Item 17    9740
Item 18    9769
Item 19    9783
Item 20    9797
Item 21    9806
Item 22    9817
Item 23    9821
Item 24    9827
Item 25    9828
Item 26    9828
Item 27    9829
Item 28    9830
Item 29    9831
Item 30    9834
Item 31    9834
Item 32    9834
dtype: int64

In [8]:
df.fillna('')

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,,,,,,...,,,,,,,,,,
1,3,tropical fruit,yogurt,coffee,,,,,,,...,,,,,,,,,,
2,1,whole milk,,,,,,,,,...,,,,,,,,,,
3,4,pip fruit,yogurt,cream cheese,meat spreads,,,,,,...,,,,,,,,,,
4,4,other vegetables,whole milk,condensed milk,long life bakery product,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,17,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,...,,,,,,,,,,
9831,1,cooking chocolate,,,,,,,,,...,,,,,,,,,,
9832,10,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,...,,,,,,,,,,
9833,4,semi-finished bread,bottled water,soda,bottled beer,,,,,,...,,,,,,,,,,
9834,5,chicken,tropical fruit,other vegetables,vinegar,shopping bags,,,,,...,,,,,,,,,,

In [9]:
df_new = pd.DataFrame(df)
df_new = df_new.drop(['Item(s)'],axis=1)

In [10]:
df_dum = pd.get_dummies(df_new)

In [11]:
frequent_items = apriori(df_dum,min_support=0.01,use_colnames=True)
frequent_items

     support                                           itemsets
0   0.030910                                      (Item 1_beef)
1   0.012303                                   (Item 1_berries)
2   0.018099                              (Item 1_bottled beer)
3   0.017285                             (Item 1_bottled water)
4   0.031520                               (Item 1_canned beer)
..       ...                                                ...
81  0.014032       (Item 2_whole milk, Item 1_other vegetables)
82  0.018302       (Item 3_whole milk, Item 2_other vegetables)
83  0.012506  (Item 2_root vegetables, Item 3_other vegetables)
84  0.017285       (Item 4_whole milk, Item 3_other vegetables)
85  0.010574       (Item 5_whole milk, Item 4_other vegetables)

[86 rows x 2 columns]

In [12]:
rules = association_rules(frequent_items,metric='confidence',min_threshold=0.01)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Item 2_tropical fruit),(Item 1_citrus fruit),0.036096,0.046060,0.011591,0.321127,6.971924,0.009929,1.405181,0.888644
1,(Item 1_citrus fruit),(Item 2_tropical fruit),0.046060,0.036096,0.011591,0.251656,6.971924,0.009929,1.288049,0.897926
2,(Item 2_sausage),(Item 1_frankfurter),0.010066,0.058973,0.010066,1.000000,16.956897,0.009472,inf,0.950596
3,(Item 1_frankfurter),(Item 2_sausage),0.058973,0.010066,0.010066,0.170690,16.956897,0.009472,1.193683,1.000000
4,(Item 2_whole milk),(Item 1_other vegetables),0.066497,0.046772,0.014032,0.211009,4.511468,0.010921,1.208161,0.833787
5,(Item 1_other vegetables),(Item 2_whole milk),0.046772,0.066497,0.014032,0.300000,4.511468,0.010921,1.333575,0.816533
6,(Item 3_whole milk),(Item 2_other vegetables),0.051449,0.055923,0.018302,0.355731,6.361121,0.015425,1.465347,0.888508
7,(Item 2_other vegetables),(Item 3_whole milk),0.055923,0.051449,0.018302,0.327273,6.361121,0.015425,1.410008,0.892718
8,(Item 2_root vegetables),(Item 3_other vegetables),0.038943,0.042196,0.012506,0.321149,7.610840,0.010863,1.410919,0.903805
9,(Item 3_other vegetables),(Item 2_root vegetables),0.042196,0.038943,0.012506,0.296386,7.610840,0.010863,1.365886,0.906875
10,(Item 4_whole milk),(Item 3_other vegetables),0.032028,0.042196,0.017285,0.539683,12.789826,0.015934,2.080746,0.952314
11,(Item 3_other vegetables),(Item 4_whole milk),0.042196,0.032028,0.017285,0.409639,12.789826,0.015934,1.639625,0.962424
12,(Item 5_whole milk),(Item 4_other vegetables),0.015150,0.025826,0.010574,0.697987,27.026370,0.010183,3.225598,0.977813
13,(Item 4_other vegetables),(Item 5_whole milk),0.025826,0.015150,0.010574,0.409449,27.026370,0.010183,1.667679,0.988529

In [13]:
rules = rules.sort_values(['support', 'confidence'], ascending=[False, False])

In [14]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
6,(Item 3_whole milk),(Item 2_other vegetables),0.051449,0.055923,0.018302,0.355731,6.361121,0.015425,1.465347,0.888508
7,(Item 2_other vegetables),(Item 3_whole milk),0.055923,0.051449,0.018302,0.327273,6.361121,0.015425,1.410008,0.892718
10,(Item 4_whole milk),(Item 3_other vegetables),0.032028,0.042196,0.017285,0.539683,12.789826,0.015934,2.080746,0.952314
11,(Item 3_other vegetables),(Item 4_whole milk),0.042196,0.032028,0.017285,0.409639,12.789826,0.015934,1.639625,0.962424
5,(Item 1_other vegetables),(Item 2_whole milk),0.046772,0.066497,0.014032,0.300000,4.511468,0.010921,1.333575,0.816533
4,(Item 2_whole milk),(Item 1_other vegetables),0.066497,0.046772,0.014032,0.211009,4.511468,0.010921,1.208161,0.833787
8,(Item 2_root vegetables),(Item 3_other vegetables),0.038943,0.042196,0.012506,0.321149,7.610840,0.010863,1.410919,0.903805
9,(Item 3_other vegetables),(Item 2_root vegetables),0.042196,0.038943,0.012506,0.296386,7.610840,0.010863,1.365886,0.906875
0,(Item 2_tropical fruit),(Item 1_citrus fruit),0.036096,0.046060,0.011591,0.321127,6.971924,0.009929,1.405181,0.888644
1,(Item 1_citrus fruit),(Item 2_tropical fruit),0.046060,0.036096,0.011591,0.251656,6.971924,0.009929,1.288049,0.897926
12,(Item 5_whole milk),(Item 4_other vegetables),0.015150,0.025826,0.010574,0.697987,27.026370,0.010183,3.225598,0.977813
13,(Item 4_other vegetables),(Item 5_whole milk),0.025826,0.015150,0.010574,0.409449,27.026370,0.010183,1.667679,0.988529
2,(Item 2_sausage),(Item 1_frankfurter),0.010066,0.058973,0.010066,1.000000,16.956897,0.009472,inf,0.950596
3,(Item 1_frankfurter),(Item 2_sausage),0.058973,0.010066,0.010066,0.170690,16.956897,0.009472,1.193683,1.000000